@import "../../node_modules/ol/ol.css";

html, body {
  margin: 0;
  height: 100%;
  background-color: #cccccc;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.header{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.footer a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.map{
  margin-top: 100px;
  position: relative;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-container input {
  padding: 6px 10px;
  margin-right: 10px;
  border-radius: 30px;
}

.search-container button {
  padding: 8px 16px;
  margin-right: 25px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn{
    /*alinhar botões a direita*/
    float: right;
    padding: 30px 10px;
    font-family: Arial, sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

img{
  width: 60px;
  height: 60px;
  margin-top: 20px;
  margin-left: 30px;
  position: absolute;
  top: 0;
  left: 0;
}

.contact{
  margin-top: 50px;
  position: relative;
  text-align: center;
}

 #contactForm {
   max-width: 400px;
   margin: 0 auto;
   padding: 20px;
   background-color: #f4f4f4;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 }

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  text-align: left;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.name, .email, .text-area {
  margin-bottom: 20px;
}

button {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}